<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Create a new to-do item</title>
    </head>
    <body>
        <main>
            <div>
                <h1>Create a new to-do item</h1>
                <form method="post">
                    <p>
                        <label for="task">Task:</label>
                        <input type="text" name="task" />
                    </p>
                    <p>
                        <label for="task">Due date:</label>
                        <input type="text" name="due_date" />
                    </p>
                    <p>
                        <label for="task">Is completed:</label>
                        <input type="checkbox" name="is_completed" />
                    </p>
                    <p>
                        <label for="task">List:</label>
                        <select name="list">
                            {% for todo_list in todo_lists %}<option value="{{ todo_list._id }}">{{ todo_list.name }}</option>{% endfor %}
                        </select>
                    </p>
                    <button>Create</button>
                </form>
            </div>
        </main>
    </body>
</html>
