<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>To Do List - {{ todo_list.name }}</title>
    </head>
    <body>
        <main>
            <div>
                <h1>{{ todo_list.name }}</h1>
                <p>
                    <a href="{{ request.url_for('todo_lists:todo_list_edit', todo_list_id=todo_list.id) }}">Edit</a>
                </p>
                <p>
                    <a href="{{ request.url_for('todo_lists:todo_list_delete', todo_list_id=todo_list.id) }}">Delete</a>
                </p>
                <h2>Tasks</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Task</th>
                            <th>Due date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for todo_list_item in todo_list_items %}
                            <tr>
                                <td>{{ todo_list_item.task }}</td>
                                <td>{{ todo_list_item.due_date }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>
    </body>
</html>
