<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>To Do Lists</title>
    </head>
    <body>
        <main>
            <div>
                <h1>My Lists</h1>
                <div>
                    <p>
                        <a href="{{ request.url_for('todo_lists:todo_list_create') }}">Create a new list</a>
                    </p>
                    <p>
                        <a href="{{ request.url_for('todo_items:todo_item_create') }}">Create a new item</a>
                    </p>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Number of Items</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for todo_list in todo_lists %}
                            <tr>
                                <td>
                                    <a href="{{ request.url_for('todo_lists:todo_list_detail', todo_list_id=todo_list.id) }}">{{ todo_list.name }}</a>
                                </td>
                                <td>{{ todo_list.todo_items|length }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>
    </body>
</html>
